/* @import 'tailwindcss'; */
@import "bootstrap/dist/css/bootstrap.min.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.brand-logo{
  height: 42px;
  width: auto;
}

/* Hero image */
.hero-img{
  max-height: 220px;   /* kecilkan hero */
  width: 100%;
  object-fit: contain; /* biar ga kepotong */
  display: block;
  margin: 0 auto;
}

.admin-content {
  margin-left: 260px;
  transition: margin-left .2s ease;
}

.offcanvas:not(.show) ~ .admin-content {
  margin-left: 0;
}
